<form action="/articles" method="POST">
  <input type="text" name="title">
  <input type="text" name="content">
  <button type="submit">Submit</button>
</form>

We need to create an ERB file in the views directory, `new.erb`, with a form
that `POST`s to a controller action, `/articles`. The controller action should use
the Create CRUD action to create the article and save it to the database.
When the form on `new.erb` is submitted, the action, pointing to `/articles`,
will redirect to another action which will trigger a render of a `show.erb` file
automatically. Before we can fully test if our form is working, we need to create
that `show.erb` file, as our site will currently crash upon submission.